*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: 0.5rem;
}
.text-center {
    text-align: center;
}
.m-auto {
    margin-inline: auto;
}
