a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 1;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

body {
  background-color: #0c134f;
}

.nav {
  position: relative;
}
.nav ul {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  filter: blur(0px);
}
.nav ul > :where(:not(:first-child)) {
  justify-self: right;
}
.nav .background {
  position: absolute;
  background-color: #1d267d;
  filter: blur(22.5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.btn {
  width: 302px;
  height: 52px;
  border-radius: 15px;
  cursor: pointer;
}

.btn_neutral {
  background-color: #84b5ca;
}

.btn_positiv {
  background-color: #79ae7e;
}

.sub-nav {
  background-color: #1d267d;
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}
.sub-nav-small {
  width: fit-content;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.list {
  background-color: #1d267d;
  width: 40%;
  height: 60vh;
  border-radius: 15px;
}

.transaction {
  display: flex;
  width: 100%;
}
.transaction-positiv label {
  background-color: #79ae7e;
}
.transaction-negativ label {
  background-color: #ca4c4c;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.grid-auto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.grid-even {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.5rem;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin-inline: auto;
}

.clr-neutral-600 {
  color: #0c134f;
}

.bg-neutral-600 {
  background-color: #0c134f !important;
}

.clr-neutral-500 {
  color: #1d267d;
}

.bg-neutral-500 {
  background-color: #1d267d !important;
}

.clr-neutral-400 {
  color: #fff;
}

.bg-neutral-400 {
  background-color: #fff !important;
}

.clr-accent-700 {
  color: #ca4c4c;
}

.bg-accent-700 {
  background-color: #ca4c4c !important;
}

.clr-accent-600 {
  color: #79ae7e;
}

.bg-accent-600 {
  background-color: #79ae7e !important;
}

.clr-accent-500 {
  color: #84b5ca;
}

.bg-accent-500 {
  background-color: #84b5ca !important;
}

.clr-accent-400 {
  color: #d4adfc;
}

.bg-accent-400 {
  background-color: #d4adfc !important;
}

.fs-800 {
  font-size: 6.25rem;
}

.fs-700 {
  font-size: 3.563rem;
}

.fs-600 {
  font-size: 1.5rem;
}

.fs-500 {
  font-size: 1.25rem;
}

.fs-400 {
  font-size: 1rem;
}

.fs-300 {
  font-size: 0.9rem;
}

.ff-hub {
  font-family: "Hubballi";
}

.ff-zen {
  font-family: "Zen Dots";
}

.fw-heavy {
  font-weight: 900;
}

.fw-extra_bold {
  font-weight: 800;
}

.fw-bold {
  font-weight: 700;
}

.fw-semi_blod {
  font-weight: 600;
}

.fw-medium {
  font-weight: 500;
}

.fw-normal {
  font-weight: 400;
}

.fw-light {
  font-weight: 300;
}

.fw-extra_light {
  font-weight: 200;
}

.fw-thin {
  font-weight: 100;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.m-1 {
  margin: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.m-3 {
  margin: 2rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mr-3 {
  margin-right: 2rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.ml-3 {
  margin-left: 2rem;
}

.m-4 {
  margin: 3rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mr-4 {
  margin-right: 3rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.ml-4 {
  margin-left: 3rem;
}

.m-5 {
  margin: 6rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.ml-5 {
  margin-left: 6rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.p-1 {
  padding: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pl-2 {
  padding-left: 1rem;
}

.p-3 {
  padding: 2rem;
}

.pt-3 {
  padding-top: 2rem;
}

.pr-3 {
  padding-right: 2rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

.pl-3 {
  padding-left: 2rem;
}

.p-4 {
  padding: 3rem;
}

.pt-4 {
  padding-top: 3rem;
}

.pr-4 {
  padding-right: 3rem;
}

.pb-4 {
  padding-bottom: 3rem;
}

.pl-4 {
  padding-left: 3rem;
}

.p-5 {
  padding: 6rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.pl-5 {
  padding-left: 6rem;
}

.speachbubble {
  background-color: #1d267d;
  color: #fff;
  width: fit-content;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transform: translate(50%, -10px);
}

.grid {
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.list {
  width: 50%;
}

.userInfo {
  background-color: #1d267d;
  color: #fff;
  width: fit-content;
  border-radius: 15px;
}

/*# sourceMappingURL=home.css.map */
