$colors: (
    neutral: (
        600: #0c134f,
        500: #1d267d,
        400: #fff,
    ),
    accent: (
        700: #ca4c4c,
        600: #79ae7e,
        500: #84b5ca,
        400: #d4adfc,
    ),
);
